{% include 'header.php' %}

{% include 'navbar.php' %}

  <div class="content-wrapper index">
    <div class="parallax-container index">
      <div class="container">
        <div class="row">
          <div class="col 12">
            <h1 class="title">CHRISTIAN GUNDL</h1>
            <h3 class="tag-line grey-text text-lighten-1">Coaching · Training</h3>
            <div class="parallax"><img src="{{ theme_url }}/img/gundl.jpg"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content-wrapper features">
    <div class="parallax-container features">
      <div class="container features">
        <h1 class="heading">Wofür ich arbeite</h1>
        <img src="{{theme_url}}/img/MindMap.svg" alt="Mind Map" class="mindmap">
        <h5 class="wuerde">Die Würde des Menschen ist unantastbar.</h5>
        <p class="single-content">Deshalb gehöre ich keiner Glaubensorganisation, Sekte o.ä. an und verbreite auch keine „Lehren“ in meinen Veranstaltungen.</p>
      </div>
    </div>
  </div>

  <div class="content-wrapper offers">
    <div class="parallax-container offers">
      <div class="container offers">
        <div class="row">
          <h1 class="heading">Erfolgreiche Kommunikation ist nicht angeboren, sondern erlernbar - f&uuml;r jede(n)!</h1>
          <a class="col s6 waves-effect btn-large communication-button" onclick="showCoaching()">Coaching</a>
          <a class="col s6 waves-effect btn-large communication-button" onclick="showSeminare()">Seminare und Trainings</a>
          <div id="coaching" class="col s12 white">
            <h4>Coaching</h4>
            <p>
              Coaching ist eine individuelle Maßnahme, die auf die gesamte Persönlichkeit zielt. So ist beim coaching zwar ein Symptom zu erkennen, die Ursache ist aber im Verborgenen. Coaching betrifft vor allem die Prozesse, die sozialer Natur sind und für deren Lösung es keine „Rezepte“ gibt. Auch betriebswirtschaftliches oder technisches know-how helfen hier nicht weiter. Coaching befasst sich deshalb wenig mit Fachfragen, sondern mehr mit inneren Einstellungen, Werten, Motiven, Blockaden und der Selbstorganisation. Dabei fungiert der Coach als neutraler, kritischer Gesprächspartner und verwendet je nach Ziel Methoden aus dem gesamten Spektrum der Psychotherapie, Personal- und Führungskräfteentwicklung. Coaching ist aber nie Psychotherapie! <br/>
              Im coaching arbeite ich häufig mit der wingwave Methode, da ich festgestellt habe, dass die damit behandelten Themen meistens in 2 – 5 Sitzungen zur Zufriedenheit der Kunden bearbeitet sind. Das führt spürbar und schnell in wenigen Sitzungen zum Abbau von Stress und Ängsten und bewirkt die Steigerung von Kreativität, mentaler Fitness und Konfliktstabilität. wingwave-coaching wird in den Bereichen Business, Leistungssport, Schule und Studium sowie in Künstlerkreisen erfolgreich genutzt. Ich nutze wingwave als einen „Baustein“ aus meinem coaching - &quot;Handwerkskoffer&quot;.
            </p>
            <h5>Typische Anlässe für business coachings</h5>
            <ul>
              <li>Reflexion des eigenen Verhaltens</li>
              <li>Standortbestimmung und Lösen von Blockaden</li>
              <li>Entscheidungen bei Veränderungsmöglichkeiten (berufliche Neuorientierung)</li>
              <li>Motivanalyse</li>
              <li>Überzeugungskraft und lockeres Auftreten bei Vorträgen</li>
              <li>Souveränität in Konfliktgesprächen</li>
              <li>Durchsetzungskraft bei „schwierigen“ Gesprächspartnern</li>
              <li>Sicherheit in Vorstellungsgesprächen / ACs</li>
            </ul>
            <h5>Typische Anlässe für private coachings</h5>
            <ul>
              <li>Reflexion des eigenen Verhaltens</li>
              <li>Gelassenheit und Konzentration in Prüfungen</li>
              <li>Konstruktiver Umgang mit persönlichen Schicksalssschlägen</li>
              <li>Raus aus der Sackgasse</li>
              <li>Motivanalyse</li>
              <li>innere Ruhe während des Fluges</li>
              <li>Höhe aushalten können</li>
              <li>Keine Angst vor Tieren (Spinnen, Mäuse, Schlangen usw.)</li>
            </ul>
            <a class="col s12 waves-effect btn-large communication-button" onclick="hideCoaching()">Hide</a>
          </div>
          <div id="seminare" class="col s12 white">
            <h4>Seminare und Trainings</h4>
            <p>Ich bin der vollen Überzeugung, dass „Lernen“ und „Können“ am besten im Dialog erworben werden (in Übereinstimmung mit der modernen Hirnforschung). Deshalb beanspruchen meine „Vorträge“ maximal 30% der Zeiten (oft weniger), der Rest besteht aus gemeinsamen Entwicklungen und Übungen. Ausserdem halte ich von “Persönlichkeit “mehr als von “Techniken“ – deshalb stehen auch die Menschen mit ihren Besonderheiten im Vordergrund.</p>

            <h5>Verkäufer- und Beratertrainings</h5>

            <ul>
              <li>Verkaufen mit Persönlichkeit</li>
            </ul>

            <h5>Führungskräftetraining</h5>

            <ul>
              <li>Ausbildung zur Führungskraft I (Führungsinstrumente)<li>
              <li>Ausbildung zur Führungskraft II (Ziele &amp; Gesprächsführung)</li>
              <li>Ausbildung zur Führungskraft III (Gruppe oder Team)</li>
              <li><a href="{{theme_url}}/download/mitarbeiterMehrErfolg.doc">Die Führungskraft als coach</a></li>
            </ul>

            <h5>Seminare zur Persönlichkeitsentwicklung</h5>

            <ul>
              <li>Persönlichkeitsentwicklung I („man kann nicht nicht kommunizieren“)</li>
              <li>Persönlichkeitsentwicklung II („jedes Verhalten ist feedback“)</li>
              <li>Persönlichkeitsentwicklung III („wir sind die Schöpfer unserer Welt“)</li>
              <li>Gesprächsführung mit Persönlichkeit</li>
              <li><a href="{{ theme_url }}/download/mitKonfliktenErfolgreichUmgehen.doc">Konstruktiver Umgang mit Konflikten / Stress</a></li>
            </ul>

            <h5>Traineraus- und weiterbildung</h5>

            <ul>
              <li>Verkaufstrainerausbildung (zertifiziert)</li>
              <li>Weiterbildung zum Vertriebscoach</li>
            </ul>

            <p>2 Trainings habe ich oben ausführlich hinterlegt, damit Sie sich ein Bild machen können… Ansonsten freue ich mich auf Ihre Nachfragen zu ausführlichen Informationen für Ihre "Wunschthemen"</p>
            <a class="col s12 waves-effect btn-large communication-button" onclick="hideSeminare()">Hide</a>
          </div>

          <div class="parallax greyscale offers"><img src="{{ theme_url }}/img/communication.jpg"></div>
        </div>
      </div>
    </div>
  </div>

  {% include 'footer.php' %}

  <script>
  $(document).ready(function(){
    $('.parallax').parallax();
  });
  $(".button-collapse").sideNav();
  function showCoaching(){
    seminare.style.display='none';
    coaching.style.display='block'
  }
  function hideCoaching(){
    coaching.style.display='none'
  }
  function showSeminare(){
    coaching.style.display='none';
    seminare.style.display='block'
  }
  function hideSeminare(){
    seminare.style.display='none'
  }
  </script>
</body>
</html>
